<h2 mat-dialog-title>{{this.title}}</h2>
<mat-dialog-content>
  <div *ngIf="this.trainingIndex < randomHands.length else finishTraining">
    <!-- Cards -->
    <section class="pk-training-modal-cards">
      <pk-poker-card
        [card]="this.currentHands.firstCard"
      ></pk-poker-card>
      <pk-poker-card
        [card]="this.currentHands.secondCard"
      ></pk-poker-card>
    </section>

    <p class="pk-training-modal-counter">
      {{this.trainingIndex + 1}}/{{randomHands.length}} ({{this.trainingIndex - this.wrongDecision.length}} ✔, {{this.wrongDecision.length}} ✖)
    </p>

    <!-- Actions -->
    <section class="pk-training-modal-actions">
      <button
        mat-raised-button
        *ngFor="let action of actions"
        [class.action--limp]="action.action === ACTION.LIMP"
        [class.action--call]="action.action === ACTION.CALL"
        [class.action--bluff]="action.action === ACTION.BLUFF"
        [class.action--fold]="action.action === ACTION.FOLD"
        [class.action--two-bet]="action.action === ACTION.TWO_BET"
        [class.action--three-bet]="action.action === ACTION.THREE_BET"
        [class.action--four-bet]="action.action === ACTION.FOUR_BET"
        (click)="this.chooseAction(action)"
        [disabled]="this.trainingIndex === randomHands.length"
      >
        {{action.text}}
      </button>
    </section>
  </div>

  <ng-template #finishTraining>
    <h3>Your training has been finished!</h3>
    <h4>You made {{this.wrongDecision.length}} wrong decisions</h4>
    <table class="table">
      <thead>
        <tr>
          <th>Hands</th>
          <th>Wrong</th>
          <th>Correct</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let decision of this.wrongDecision">
          <td>{{decision.hands}}</td>
          <td>{{decision.wrong}}</td>
          <td>{{decision.correct}}</td>
        </tr>
      </tbody>
    </table>
  </ng-template>
</mat-dialog-content>
