<section
  class="pk-chart-row"
  *ngFor="let rows of chartMatrix">
  <div
    class="pk-chart-cell-container"
    *ngFor="let hands of rows">
    <div
      class="pk-chart-cell"
      [class.action--limp]="hands.action === ACTION.LIMP"
      [class.action--call]="hands.action === ACTION.CALL"
      [class.action--bluff]="hands.action === ACTION.BLUFF"
      [class.action--fold]="hands.action === ACTION.FOLD"
      [class.action--two-bet]="hands.action === ACTION.TWO_BET"
      [class.action--three-bet]="hands.action === ACTION.THREE_BET"
      [class.action--four-bet]="hands.action === ACTION.FOUR_BET"
    >
      <span class="pk-chart-text">{{hands.hands}}</span>
    </div>
  </div>
</section>

<!-- Labels -->
<section class="pk-chart-labels">
  <div
    class="pk-action-label-container"
    *ngFor="let label of labels">
    <span
      class="pk-action-label"
      [class.action--limp]="label.action === ACTION.LIMP"
      [class.action--call]="label.action === ACTION.CALL"
      [class.action--bluff]="label.action === ACTION.BLUFF"
      [class.action--fold]="label.action === ACTION.FOLD"
      [class.action--two-bet]="label.action === ACTION.TWO_BET"
      [class.action--three-bet]="label.action === ACTION.THREE_BET"
      [class.action--four-bet]="label.action === ACTION.FOUR_BET"
    ></span>
    <span>{{label.text}}</span>
  </div>
</section>

<!-- Actions -->
<section class="pk-chart-actions">
  <button mat-raised-button color="primary" (click)="startTraining()">Training</button>
</section>
