:host {
  max-width: 768px;
  display: block;
  margin: 0 auto;
  font-size: 15px;
  .pk-chart-row {
    display: flex;
    align-items: center;

    .pk-chart-cell-container {
      flex: 1;
      padding: 2px 2px 0 2px;

      .pk-chart-cell {
        border: 1px solid #d5d5d5;
        width: 100%;
        padding-top: 100%;
        position: relative;
        border-radius: 2px;

        .pk-chart-text {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
          font-weight: bold;
        }
      }
    }
  }

  @media (max-width: 576px) {
    font-size: 10px;
    .pk-chart-row .pk-chart-cell-container {
      padding: 1px 1px 0 2px;
    }
  }
}

.pk-chart-labels {
  display: flex;
  padding: 10px;
  .pk-action-label-container {
    margin-right: 10px;
  }
  .pk-action-label {
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-right: 4px;
  }
}

.pk-chart-actions {
  padding: 10px;
}

.action--limp {
  background-color: #596275;
  color: white;
}
.action--call {
  background-color: #45aaf2;
}
.action--bluff {
  background-color: #f8a5c2;
}
.action--fold {
  background-color: #4b6584;
  color: white;
}
.action--two-bet {
  background-color: #7efff5;
}
.action--three-bet {
  background-color: orange;
}
.action--four-bet {
  background-color: red;
}

