<section
  class="pk-chart-row"
  *ngFor="let rows of chartMatrix">
  <div
    class="pk-chart-cell-container"
    *ngFor="let hands of rows">
    <div
      class="pk-chart-cell"
      [class.action--limp]="hands.action === ACTION.LIMP"
      [class.action--call]="hands.action === ACTION.CALL"
      [class.action--bluff]="hands.action === ACTION.BLUFF"
      [class.action--two-bet]="hands.action === ACTION.TWO_BET"
      [class.action--three-bet]="hands.action === ACTION.THREE_BET"
      [class.action--four-bet]="hands.action === ACTION.FOUR_BET"
    >
      <span class="pk-chart-text">{{hands.hands}}</span>
    </div>
  </div>
</section>
